@namespace ColorGlyphs.Components.Shared
@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="nav-container">
            <nav class="d-flex flex-row justify-content-center p-2 bg-dark">
                <div class="nav-item px-3">
                    <NavLink class="nav-link text-white" href="" Match="NavLinkMatch.All">
                        <span class="bi bi-house-door-fill" aria-hidden="true"></span> Glifos
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link text-white" href="admin">
                        <span class="bi bi-gear-fill" aria-hidden="true"></span> Edit Glifos
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link text-white" href="adminForms">
                        <span class="bi bi-pentagon-fill" aria-hidden="true"></span> Edit Formas
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link text-white" href="adminColors">
                        <span class="bi bi-palette-fill" aria-hidden="true"></span> Edit Colores
                    </NavLink>
                </div>
            </nav>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<style>
    .top-row {
        height: 3.5rem;
        background-color: #f7f7f7;
        border-bottom: 1px solid #d6d5d5;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .content {
        padding-top: 1.1rem;
    }
</style>