@namespace ColorGlyphs.Components.Shared
@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="sidebar">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="admin">
                    <span class="bi bi-gear-fill-nav-menu" aria-hidden="true"></span> Admin Glifos
                </NavLink>
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<style>
    .top-row {
        height: 3.5rem;
        background-color: #f7f7f7;
        border-bottom: 1px solid #d6d5d5;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .content {
        padding-top: 1.1rem;
    }
</style>